# OpenAI secrets
OPENAI_API_KEY = ""

# Astra DB secrets
ASTRA_SCB_PATH = ""
ASTRA_CLIENT_ID = ""
ASTRA_CLIENT_SECRET = ""

# Optionally: LangSmith secrets for tracing
LANGCHAIN_ENDPOINT = ""
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = ""

[passwords]
# Follow the rule: username = "password"
# Where username defines the Astra Vector Table and the rails.csv experience
postnl = "password_xyz"
datastax = "password_abc"

[languages]
# Follow the rule: username = "localization_code"
# Where localization_code defines the language from localization.csv
postnl = "nl_NL"
datastax = "en_US"